{% extends "bootstrap/base.html" %}
{#{% import "bootstrap/wtf.html" as wtf %}#}


{% block title  %}TestColin{% endblock %}

{% block navbar %}
 <div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle"
                    data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav ">
                    <li><a href = "{{ url_for('main.index') }}">上传</a></li>
                </ul>
                <ul class="nav navbar-nav ">
                    <li><a href="{{ url_for('main.files') }}">查看</a></li>
                </ul>

            </div>
        </div>
    </div>
 </div>
{% endblock %}

{% block content %}
<div class="container">
    <div class = 'page-header'>
        {% block page_content  %}{% endblock %}
{#        {{ wtf.quick_form(form)}}#}
    </div>
</div>
{% endblock %}

